# Não inclua arquivos de dados
dados/filmes.db
dados/filme_duckdb.db
dados/filmes.zip
dados/*
venv/*

# Não inclua arquivos de logs
*.log

# Não inclua variáveis de ambiente
.env
.env.exemplo

# Não inclua arquivos de configuração
config.json

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de cache do Streamlit
.streamlit/

# Arquivos de backup ou temporários
*.bak
*.tmp
*.swp
*.swo

# Arquivos de compilação
*.pyc
*.pyd
*.so

# Arquivos de IDEs
.vscode/
.idea/
*.iml

# Arquivos de pacotes
*.egg-info/
dist/
build/

# Arquivos de teste
*.test.*